.Header {
    width: 100%;
}

.Logo {
    width: 50px;
    height: 50px;
}

td {
    text-align: center;
}

.BigTitle {
    font-size: 50px;
    text-decoration: none;
    color: black;
    margin-right: 10%;
}

.ProfileButton {
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: 1px black solid;
}

.ProfileButtonWrapper {
    width: 10%;
}