.TeamProfile {
    margin-top: 50px;
}

.RosterAndFixture > * {
    display: inline-block;
    margin: 40px;
}

.ItemRow > td {
    padding: 10px;
    border: 1px solid black;
}

.TableTitle {
    font-size: 30px;
}

.JoinRequests > * {
    margin: auto;
}

.AcceptDeclineButton {
    margin: 5px;
}